<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ducluu.petshop">

    <application
        android:allowBackup="true"
        android:icon="@drawable/petsshoplogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/petsshoplogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetShop">
        <activity
            android:name=".ThongTinsp"
            android:exported="true" />
        <activity
            android:name=".TroChuyen"
            android:exported="true" />
        <activity
            android:name=".ThanhToan"
            android:exported="true" />
        <activity
            android:name=".ThucAn"
            android:exported="true" />
        <activity
            android:name=".ThuocThuY"
            android:exported="true" />
        <activity
            android:name=".SanPham"
            android:exported="true" />
        <activity
            android:name=".CaNhan"
            android:exported="true" />
        <activity
            android:name=".NguoiDung"
            android:exported="true" />
        <activity
            android:name=".DangKy"
            android:exported="true" />
        <activity
            android:name=".ThongBao"
            android:exported="true" />
        <activity
            android:name=".TrangChu"
            android:exported="true" />
        <activity
            android:name=".GioHang"
            android:exported="true" />
        <activity
            android:name=".BottomNavigation"
            android:exported="true"
            android:label="@string/title_activity_bottom_navigation" />
        <activity
            android:name=".DangNhap"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>